# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# KiCad stuff
fp-info-cache
sym-lib-table
fp-lib-table
*.lck
~*
*-backups
\#*
*.bak

# debugging and VSCode config
debug_custom.json
debug.cfg
*.svd
*.pcapng
.vscode/
hw/BottleNode/.DS_Store

*.log

# macOS stuff
.DS_Store
.Thumbnails

